:root {
  --left: clamp(15rem, 35vw, 45rem);
  --right: calc(100vw - var(--left));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  color: rgb(22, 22, 22);
}

body {
  display: flex;
  height: 100vh;
}

.left {
  display: flex;
  width: var(--left);
  justify-content: center;
  padding: 20vh 1rem 0 1rem;
  border: 5px solid black;
  background: no-repeat center / cover
    url("./assets/saj-shafique-6dhPDQaFFVc-unsplash.jpg");
}

.logo-text {
}

.logo {
}

.right {
  display: flex;
  width: var(--right);
  flex-flow: column nowrap;
  border: 5px solid red;
}

.description {
  display: flex;
  border: 5px solid green;
}

form {
  display: flex;
}
